.DS_Store
Thumbs.db

.idea
*.sublime*
.vscode

*.log*
node_modules/
yarn.lock
package-lock.json

.tmp
dist/
.sass-cache
*.iml
.project
.elasticbeanstalk/
.next

cypress/videos/
cypress/screenshots/
.vercel

mysql